body.yes-page {
    background-color: #F8C8DC;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
  }
  
  .header_text {
    font-family: 'Nunito', sans-serif;
    font-size: 50px;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .text {
    font-family: 'Nunito', sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-top: 20px;
  }
  
  .gif_container2 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  